<nav class="bg-gray-400">
  <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
    <div class="relative flex h-16 items-center justify-between">
      <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
        <div class="hidden sm:ml-6 sm:block">
          <div class="flex space-x-2 text-lg" *ngIf="currentUser$ | async as user">
            <a
              routerLink="/technologies/radar"
              routerLinkActive="bg-gray-700 text-white"
              class="text-black hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium"
              aria-current="page"
              >Technology Radar</a
            >
            <a
              *ngIf="isAdmin(user)"
              routerLink="/technologies/admin"
              routerLinkActive="bg-gray-700 text-white"
              class="text-black hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium"
              >Technology Administration</a
            >
          </div>
        </div>
      </div>
      <div
        *ngIf="currentUser$ | async as user; else notLoggedInBlock"
        class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">
        <span class="px-2">{{ user.email }}</span>
        <button
          id="dropdownProfileBtn"
          data-dropdown-toggle="dropdownProfile"
          (click)="dropdownProfile.hidden = !dropdownProfile.hidden">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-6 h-6">
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M17.982 18.725A7.488 7.488 0 0 0 12 15.75a7.488 7.488 0 0 0-5.982 2.975m11.963 0a9 9 0 1 0-11.963 0m11.963 0A8.966 8.966 0 0 1 12 21a8.966 8.966 0 0 1-5.982-2.275M15 9.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
          </svg>
        </button>

        <!-- Dropdown menu -->
        <div
          #dropdownProfile
          hidden
          id="dropdownProfile"
          class="absolute right-0 top-14 z-9 font-normal bg-white divide-y divide-gray-100 rounded-lg shadow w-44">
          <button
            (click)="logout()"
            class="min-w-full block px-4 py-2 text-sm text-gray-700 rounded-lg hover:bg-gray-200">
            Sign out
          </button>
        </div>
      </div>
      <ng-template #notLoggedInBlock>
        <div>
          <a
            routerLink="/login"
            class="text-gray-800 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium"
            >Login</a
          >
        </div>
      </ng-template>
    </div>
  </div>
</nav>
