<dialog
  #dialog
  class="rounded-xl focus:outline-none bg-white p-6 shadow-3xl backdrop:bg-black/20 backdrop:backdrop-blur-md">
  <h1 class="text-xl font-bold text-black p-4 md:text-2xl">Add Technology</h1>
  <form *ngIf="addForm" [formGroup]="addForm" (ngSubmit)="onSubmit()">
    <div class="p-2" *ngIf="addForm.controls?.['name'] as name">
      <label for="name" class="font-bold">Name</label>
      <input type="text" name="name" formControlName="name" class="p-2 my-1 w-full rounded-md border-2 border-black" />
      <div *ngIf="submitted && name['errors'] as errors" class="errors text-red-700 font-bold">
        <div *ngIf="errors['required']">A Name is required</div>
      </div>
    </div>
    <div class="p-2" *ngIf="addForm.controls?.['category'] as category">
      <label for="category" class="font-bold">Category</label>
      <select
        name="category"
        formControlName="category"
        required
        class="p-2 my-1 w-full rounded-md bg-white border-2 border-black">
        <option value="" class="bg-white">-- Please choose a category --</option>
        <option value="Platforms">Platforms</option>
        <option value="Techniques">Techniques</option>
        <option value="Tools">Tools</option>
        <option value="Languages & Frameworks">Languages & Frameworks</option>
      </select>
      <div *ngIf="submitted && category['errors'] as errors" class="errors text-red-700 font-bold">
        <div *ngIf="errors['required']">A Category is required</div>
        <div *ngIf="errors['pattern']">The selected Category does not exist</div>
      </div>
    </div>
    <div class="p-2" *ngIf="addForm.controls?.['description'] as description">
      <label for="description" class="font-bold">Description</label>
      <textarea
        name="description"
        formControlName="description"
        placeholder="Write ring description here"
        required
        class="p-2 my-1 w-full rounded-md border-2 border-black"></textarea>
      <div *ngIf="submitted && description['errors'] as errors" class="errors text-red-700 font-bold">
        <div *ngIf="errors['required']">A Description is required!</div>
      </div>
    </div>
    <div class="p-2" *ngIf="addForm.controls?.['ring'] as ring">
      <label for="ring" class="font-bold">Ring</label>
      <select
        name="ring"
        formControlName="ring"
        [attr.data-value]="ring.value"
        class="p-2 my-1 w-full rounded-md bg-white border-2 border-black data-[value=Adopt]:bg-green-400 data-[value=Trial]:bg-yellow-400 data-[value=Assess]:bg-orange-400 data-[value=Hold]:bg-red-400">
        <option value="" class="bg-white">-- Please choose a ring --</option>
        <option value="Adopt" class="bg-green-400">Adopt</option>
        <option value="Trial" class="bg-yellow-400">Trial</option>
        <option value="Assess" class="bg-orange-400">Assess</option>
        <option value="Hold" class="bg-red-400">Hold</option>
      </select>
      <div *ngIf="submitted && ring['errors'] as errors" class="errors text-red-700 font-bold">
        <div *ngIf="errors['pattern']">The selected Ring does not exist</div>
      </div>
    </div>
    <div class="p-2">
      <label for="ring_reason" class="font-bold">Ring Description</label>
      <textarea
        name="ring_reason"
        formControlName="ring_reason"
        placeholder="Write ring description here"
        class="p-2 my-1 w-full rounded-md border-2 border-black"></textarea>
    </div>
    <div *ngIf="errorMessages.length" class="text-red-800 font-bold px-3 pb-3">
      <p *ngFor="let error of errorMessages">{{ error }}</p>
    </div>
    <div class="flex justify-around flex-wrap-reverse gap-3">
      <button
        (click)="close()"
        class="w-96 max-md:w-full text-gray-900 bg-red-300 hover:bg-red-400 focus:ring-4 focus:outline-none font-medium rounded-lg text-sm px-5 py-2.5 text-center">
        Close
      </button>
      <button
        type="submit"
        class="w-96 max-md:w-full text-gray-900 bg-green-300 hover:bg-green-400 focus:ring-4 focus:outline-none font-medium rounded-lg text-sm px-5 py-2.5 text-center">
        Submit
      </button>
    </div>
  </form>
</dialog>
