<article class="flex-auto">
  <h1 class="text-xl font-bold text-white p-4 md:text-2xl">Sign in to the Technology Radar</h1>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="bg-gray-50 p-3" action="#">
    <div class="p-2">
      <label for="email" class="block mb-2 text-sm font-medium text-gray-900">Your email</label>
      <input
        type="email"
        name="email"
        id="email"
        formControlName="email"
        autocomplete="email"
        class="p-2 my-1 w-full rounded-md border-2 border-black"
        placeholder="name@company.com"
        required="" />
      <div
        *ngIf="submitted && loginForm.controls?.['email']?.['errors'] as errors"
        class="errors text-red-700 font-bold">
        <div *ngIf="errors['required']">Email is required</div>
        <div *ngIf="errors['email']">Email must be a valid email address</div>
      </div>
    </div>
    <div class="p-2">
      <label for="password" class="block mb-2 text-sm font-medium text-gray-900">Password</label>
      <input
        type="password"
        name="password"
        id="password"
        formControlName="password"
        placeholder="********"
        autocomplete="current-password"
        class="p-2 my-1 w-full rounded-md border-2 border-black"
        required="" />
      <div
        *ngIf="submitted && loginForm.controls?.['password']?.['errors'] as errors"
        class="errors text-red-700 font-bold">
        <div *ngIf="errors['required']">Password is required</div>
        <div *ngIf="errors['minlength']">Password must be at least 8 characters</div>
      </div>
    </div>
    <div *ngIf="errorMessages.length" class="text-red-800 font-bold px-3 pb-3">
      <p *ngFor="let error of errorMessages">{{ error }}</p>
    </div>
    <button
      type="submit"
      class="w-full text-gray-900 bg-green-300 hover:bg-green-400 focus:ring-4 focus:outline-none font-medium rounded-lg text-sm px-5 py-2.5 text-center">
      Sign in
    </button>
  </form>
</article>
