<section class="flex-auto">
  <h1 class="text-xl font-bold text-white p-4 md:text-2xl">Technology Viewer</h1>
  <table *ngIf="technologies$ | async as technologies" class="table-fixed text-center text-sm font-light">
    <thead>
      <tr class="border-b bg-gray-300">
        <th scope="col" class="px-3 py-2">Name</th>
        <th scope="col" class="px-3 py-2">Category</th>
        <th scope="col" class="px-3 py-2">Ring</th>
        <th scope="col" class="px-3 py-2">Description</th>
        <th scope="col" class="px-3 py-2">Ring Description</th>
        <th scope="col" class="px-3 py-2 max-md:hidden">Created At</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let technology of technologies"
        [attr.data-ring]="technology.ring"
        class="border-b data-[ring=Adopt]:bg-green-400 data-[ring=Trial]:bg-yellow-400 data-[ring=Assess]:bg-orange-400 data-[ring=Hold]:bg-red-400">
        <td class="px-6 py-4">{{ technology.name }}</td>
        <td class="px-6 py-4">{{ technology.category }}</td>
        <td class="px-6 py-4">{{ technology.ring }}</td>
        <td class="px-6 py-4">{{ technology.description }}</td>
        <td class="px-6 py-4">{{ technology.ring_reason }}</td>
        <td class="px-6 py-4 max-md:hidden">{{ technology.created_at | date: "dd.MM.yy HH:mm:ss" }}</td>
      </tr>
    </tbody>
  </table>
</section>
