<section class="flex-auto">
  <div class="w-full flex justify-between">
    <h1 class="text-xl font-bold text-white p-4 md:text-2xl">Administration</h1>
    <button
      (click)="addTechnology()"
      class="m-3 px-2 py-1 text-gray-900 bg-emerald-200 hover:bg-emerald-300 rounded-lg text-sm text-center">
      Add Technology
    </button>
  </div>
  <table *ngIf="technologies$ | async as technologies" class="table-auto w-full text-center text-sm font-light">
    <thead>
      <tr class="border-b bg-gray-300">
        <th scope="col" class="md:px-3 py-2">Name</th>
        <th scope="col" class="md:px-3 py-2">Category</th>
        <th scope="col" class="md:px-3 py-2">Ring</th>
        <th scope="col" class="md:px-3 py-2 max-lg:hidden">Created</th>
        <th scope="col" class="md:px-3 py-2 max-lg:hidden">Last Edit</th>
        <th scope="col" class="md:px-3 py-2">Published At</th>
        <th scope="col" class="md:px-3 py-2">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let technology of technologies"
        [attr.data-published]="technology.published"
        class="border-b border-gray-400 bg-gray-100 data-[published=true]:bg-green-200">
        <td class="md:px-6 max-md:border-l border-gray-400 py-4">{{ technology.name }}</td>
        <td class="md:px-6 max-md:border-l border-gray-400 py-4">{{ technology.category }}</td>
        <td class="md:px-6 max-md:border-l border-gray-400 py-4">{{ technology.ring }}</td>
        <td class="md:px-6 max-md:border-l border-gray-400 py-4 max-lg:hidden">
          <span *ngIf="technology.created_at || technology.created_by">
            {{ technology.created_at | date: "dd.MM.yy HH:mm:ss" }}
            <br />
            {{ technology.created_by }}
          </span>
        </td>
        <td class="md:px-6 max-md:border-l border-gray-400 py-4 max-lg:hidden">
          <span *ngIf="technology.changed_at || technology.changed_by; else unchanged">
            {{ technology.changed_at | date: "dd.MM.yy HH:mm:ss" }}
            <br />
            {{ technology.changed_by }}
          </span>
          <ng-template #unchanged>Unchanged</ng-template>
        </td>
        <td class="md:px-6 max-md:border-l border-gray-400 py-4">
          <span *ngIf="technology.published; else notPublished">{{
            technology.published_at | date: "dd.MM.yy HH:mm:ss"
          }}</span>
          <ng-template #notPublished>Not Public</ng-template>
        </td>
        <td
          class="md:px-6 max-md:border-l border-gray-400 py-4 flex gap-1 flex-wrap-reverse justify-center align-middle">
          <button
            (click)="editTechnology(technology)"
            class="md:w-20 text-gray-900 bg-blue-300 hover:bg-blue-400 rounded-lg text-sm p-1 text-center">
            Edit
          </button>
          <button
            (click)="publishOrChangeTechnology(technology)"
            [attr.data-published]="technology.published"
            class="md:w-32 text-gray-900 data-[published=false]:bg-green-200 data-[published=false]:hover:bg-green-300 data-[published=true]:bg-lime-100 data-[published=true]:hover:bg-lime-200 rounded-lg text-sm p-1 text-center">
            {{ technology.published ? "Change Ring" : "Publish" }}
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <app-publish-or-change-dialog
    [technology]="technologyToPublishOrChange"
    (closeDialog)="technologyToPublishOrChange = undefined"></app-publish-or-change-dialog>
  <app-edit-technology-dialog
    [technology]="technologyToEdit"
    (closeDialog)="technologyToEdit = undefined"></app-edit-technology-dialog>
  <app-add-technology-dialog
    [technology]="technologyToAdd"
    (closeDialog)="technologyAdded()"></app-add-technology-dialog>
</section>
