<article *ngIf="technology$ | async as technology">
  <h1
    [attr.data-ring]="technology.ring"
    class="text-xl font-bold text-white p-4 md:text-2xl data-[ring=Adopt]:bg-green-400 data-[ring=Trial]:bg-yellow-400 data-[ring=Assess]:bg-orange-400 data-[ring=Hold]:bg-red-400">
    Details of '{{ technology.name }}'
  </h1>
  <section class="flex flex-wrap bg-white">
    <div class="p-3">
      <h2 class="text-2xl pb-3">Category</h2>
      <p>{{ technology.category }}</p>
    </div>
    <div class="p-3">
      <h2 class="text-2xl pb-3">Description</h2>
      <p>{{ technology.description }}</p>
    </div>
    <div class="p-3">
      <h2 class="text-2xl pb-3">Published</h2>
      <p>{{ technology.published ? (technology.published_at | date: "dd.MM.yy HH:mm:ss") : "Not published yet" }}</p>
    </div>
    <div class="p-3">
      <h2 class="text-2xl pb-3">Created</h2>
      <p>{{ technology.created_at | date: "dd.MM.yy HH:mm:ss" }} by <br />{{ technology.created_by }}</p>
    </div>
    <div class="p-3" *ngIf="technology.changed_at">
      <h2 class="text-2xl pb-3">Last Change</h2>
      <p>{{ technology.changed_at | date: "dd.MM.yy HH:mm:ss" }} by <br />{{ technology.changed_by }}</p>
    </div>
    <div class="p-3">
      <h2 class="text-2xl pb-3">Ring - {{ technology.ring }}</h2>
      <p>{{ technology.ring_reason ?? "No ring description" }}</p>
    </div>
    <div class="p-3 w-full" *ngIf="technology.ring_history?.length">
      <h2 class="text-2xl pb-3">Ring History</h2>
      <table class="table-auto w-full text-center text-sm font-light">
        <thead>
          <tr class="border-b bg-gray-300">
            <th scope="col" class="px-3 py-2">Date</th>
            <th scope="col" class="px-3 py-2">Author</th>
            <th scope="col" class="px-3 py-2">Ring</th>
            <th scope="col" class="px-3 py-2">Reason</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let entry of technology.ring_history"
            [attr.data-ring]="entry.ring"
            class="border-b cursor-pointer data-[ring=Adopt]:bg-green-400 data-[ring=Trial]:bg-yellow-400 data-[ring=Assess]:bg-orange-400 data-[ring=Hold]:bg-red-400">
            <td class="px-6 py-4 max-md:hidden">{{ entry.changed_at | date: "dd.MM.yy HH:mm:ss" }}</td>
            <td class="px-6 py-4">{{ entry.changed_by }}</td>
            <td class="px-6 py-4">{{ entry.ring }}</td>
            <td class="px-6 py-4">{{ entry.ring_reason }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>
</article>
